export CLIENT_ID=___YOUR_CLIENT_ID___
export CLIENT_SECRET=___YOUR_CLIENT_SECRET___

export SERVER_BASE_URL=___YOUR_SERVER_URL___
export FRONT_BASE_URL=___YOUR_FRONT_URL___

export REACT_APP_BASE_URL=$SERVER_BASE_URL
