body {
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  background-color: var(--background-base);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

body,
html {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

html {
  font-size: 16px;
}

.App {
  text-align: center;

  &-logo {
    height: 80px;
    animation: App-logo-spin infinite 20s linear;
  }

  &-header {
    height: 150px;
    padding: 20px;
    color: white;
    background-color: hsl(0, 0%, 13%);
  }

  &-title {
    font-size: 1.5em;
  }

  &-intro {
    font-size: large;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
