@import '_reboot.css';
@import '_base.css';
@import '_media_queries.css';
@import '_colors.css';
@import '_font.css';
@import '_icon.css';
@import '_shadow.css';
@import '_form.css';
@import 'libs/emoji-mart.css';
@import '../features/login/components/Login.css';
@import '../features/timeline/components/Timeline.css';
@import '../features/setting/components/Setting.css';
@import '../components/menu/Menu.css';
@import '../features/tweetList/components/TweetList.css';
@import '../features/tweetList/components/tweet/Tweet.css';
@import '../features/tweetList/components/tweet/emoji-custom.css';

.storybook-icons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 24px;
  padding: 0;
  margin: 32px 8px;
  text-align: center;
  list-style: none;

  & li {
    display: grid;
    align-content: space-between;

    & svg {
      margin: 0 auto;
    }
  }
}
