version: 2.1

workflows:
  main:
    jobs:
      - front-test
orbs:
  chattun:
    commands:
      install_and_caching:
        description: "restore cache at target directory"
        parameters:
          target:
            type: string
            description: target directory
        steps:
          - restore_cache:
              keys:
                - chattun-<< parameters.target >>-v1-{{ .Branch }}-{{ checksum "<< parameters.target >>/yarn.lock" }}
                - chattun-<< parameters.target >>-v1-{{ .Branch }}
                - chattun-<< parameters.target >>-v1-master
                - chattun-<< parameters.target >>-v1-
          - run:
              name: Install Application
              command: cd << parameters.target >> && yarn install
          - save_cache:
              name: Save Yarn Package Cache
              key: chattun-<< parameters.target >>-v1-{{ .Branch }}-{{ checksum "<< parameters.target >>/yarn.lock" }}
              paths:
                - << parameters.target >>/node_modules/

executors:
  default:
    working_directory: ~/repo

    docker:
      - image: sisisin/chattun-ci:20191215-172624

jobs:
  front-test:
    executor:
      name: default
    steps:
      - checkout
      - chattun/install_and_caching:
          target: front
      - run: git diff --exit-code # check yarn.lock diff
      - run: cd front && yarn build
      - run: cd front && yarn test-all
      - run: cd front && yarn test-visual
