.tweetlist {
  min-width: 300px;
  padding: 0;
  overflow-x: scroll;
  overflow-y: scroll;
  list-style: none;
}

.tweetlist.is-empty {
  display: grid;
  height: 100vh;
  padding: 20vh 0 30vh;
}

.tweetlist-empty-logo {
  width: 192px;
  margin: 0 auto;
  color: var(--text-revert);
  text-align: center;
}

.tweetlist-empty-text {
  text-align: center;
}
