.menu-parent {
  position: relative;
}

.tweetlist {
  padding: 0;
  list-style: none;
}

.tweetlist-empty {
  display: grid;
  min-height: calc(100vh - var(--spacing-2xl));
  place-content: center;
  list-style: none;
}

.tweetlist-empty-logo {
  width: 192px;
  margin: 0 auto;
  color: var(--text-revert);
  text-align: center;
}

.tweetlist-empty-text {
  text-align: center;
}
