.menu-parent {
  position: relative;
}

.tweetlist {
  padding: 0;
  list-style: none;
}

.menu-parent .tweetlist-empty {
  display: grid;
  height: calc(100vh - var(--spacing-2xl));
  padding: 20vh 0 30vh;
  list-style: none;
}

.tweetlist-empty-logo {
  width: 192px;
  margin: 0 auto;
  color: var(--text-revert);
  text-align: center;
}

.tweetlist-empty-text {
  text-align: center;
}

.channel-header {
  padding: var(--spacing-sm) var(--spacing-sm);
  margin: 0;
  font-size: var(--font-large);
  border-bottom: 1px solid var(--border-sub);
}
