.login {
  display: grid;
  height: 100vh;
}

.login-visual {
  display: grid;
  grid-template-rows: 256px 1fr;
  justify-content: center;
  background-image: url(../assets/background_chattun.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

[data-theme='dark'] .login-visual {
  background-image: url(../assets/background_chattun_dark.jpg);
}

.login-input {
  background: var(--background-main);
}

.login-visual-logo {
  display: block;
  width: 128px;
  margin: 92px auto 36px;
  text-align: center;
}

.login-visual-text {
  max-width: 96%;
  margin: 0 auto var(--spacing-md);
  font-size: var(--font-large);
  font-weight: bold;
  text-align: center;
}

@media (min-width: 480px) {
  .login-visual-text {
    max-width: 100%;
  }
}

.login-visual-text-name {
  font-size: 2rem;
}

.login-input-message {
  margin-top: var(--spacing-3xl);
  margin-bottom: var(--spacing-xl);
  font-size: var(--font-large);
  font-weight: bold;
  color: var(--text-revert);
  text-align: center;
}

.login-input-link {
  display: block;
  min-width: 192px;
  margin: 0 auto var(--spacing-xl);
  text-align: center;
}

@media (min-width: 960px) {
  .login {
    grid-template-columns: 60% 40%;
  }

  .login-input-message {
    margin-top: 32vh;
  }
}
